<div>
    <h2 id="page-heading">
        <span>User Events</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-event" [routerLink]="['/user-event/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new User Event
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userEvents?.length === 0">
        <span>No userEvents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userEvents && userEvents.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="note"><span>Note</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="registrationDate"><span>Registration Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.id"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="event.id"><span>Event</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userEvent of userEvents ;trackBy: trackId">
                    <td><a [routerLink]="['/user-event', userEvent.id, 'view']">{{ userEvent.id }}</a></td>
                    <td>{{ userEvent.note }}</td>
                    <td>{{ userEvent.registrationDate | date:'medium' }}</td>
                    <td>
                        {{ userEvent.user?.id }}
                    </td>
                    <td>
                        <div *ngIf="userEvent.event">
                            <a [routerLink]="['/event', userEvent.event?.id, 'view']" >{{ userEvent.event?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-event', userEvent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-event', userEvent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userEvent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="userEvents && userEvents.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
