<div class="ui-g">
    <div class="ui-g-12">
        <div class="card">
            <h1>{{unit?.name ? unit.name : 'Nová jednotka' | translate}}</h1>
            <div class="ui-g">
                <div class="ui-g-6 ui-md-6 ui-sm-12">
                    <p-panel [header]="'Základní údaje' | translate">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <form class="form-group" *ngIf="unitForm" [formGroup]="unitForm"
                                      (submit)="saveUnit()">
                                    <div class="ui-g-12 ui-md-4">
                                        <label for="unit-name">{{'Název' | translate}}</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8">
                                        <input id="unit-name" class="w-100" type="text" pInputText
                                               formControlName="name"
                                               required/>
                                    </div>

                                    <div class="ui-g-12 ui-md-4">
                                        <label for="unit-abbreviation">{{'Zkratka' | translate}}</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8">
                                        <textarea id="unit-abbreviation"
                                                  class="w-100"
                                                  [rows]="3"
                                                  [cols]="30"
                                                  formControlName="abbreviation"
                                                  pInputTextarea
                                                  autoResize="autoResize"></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </p-panel>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <button pButton type="button" class="cyan-btn"
                            [label]="!unit?.id ? ('Vytvořit jednotku výsledku' | translate) : ('Ulož jednotku výsledku' | translate)"
                            (click)="saveUnit()">
                    </button>
                </div>
            </div>
        </div>
    </div>
