<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-body-characteristics-heading">Create or edit a Body Characteristics</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_height">Height</label>
                    <input type="number" class="form-control" name="height" id="field_height"
                           formControlName="height"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_weight">Weight</label>
                    <input type="number" class="form-control" name="weight" id="field_weight"
                           formControlName="weight"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" formControlName="date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_heightUnit">Height Unit</label>
                    <select class="form-control" id="field_heightUnit" name="heightUnit" formControlName="heightUnit">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="unitOption.id === editForm.get('heightUnit')!.value?.id ? editForm.get('heightUnit')!.value : unitOption" *ngFor="let unitOption of units; trackBy: trackById">{{ unitOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_widthUnit">Width Unit</label>
                    <select class="form-control" id="field_widthUnit" name="widthUnit" formControlName="widthUnit">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="unitOption.id === editForm.get('widthUnit')!.value?.id ? editForm.get('widthUnit')!.value : unitOption" *ngFor="let unitOption of units; trackBy: trackById">{{ unitOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
