<h2 class="text-center" *ngIf="workoutSummary.workout">{{workoutSummary.workout.name}}</h2>
<br/>
<div class="ui-g">
    <div class="ui-g-12">{{workoutSummary.workout.description}}</div>
</div>
<div *ngIf="workoutSummary.athleteWorkout.note" class="card bold-label">
    <div class="ui-g">
        <ng-container *ngIf="workoutSummary.athleteWorkout.note">
            <div class="ui-g-12 ui-md-4">
                <label>{{'Poznámka' | translate}}</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <span>{{workoutSummary.athleteWorkout.note}}</span>
            </div>
        </ng-container>
    </div>
</div>
<div class="activities-summary-container">
    <h1 class="text-center">{{'Shrnutí výsledků' | translate}}</h1>
    <ng-container *ngFor="let activitySummaryChart of activitySummariesCharts">
        <div class="card bold-label activity-summary">

            <div class="row">
                <div class="col-12"><h3 class="text-center">{{activitySummaryChart.activityName}}</h3></div>
            </div>

            <div class="row chart-container">
                <ng-container>
                    <div class="col-3" *ngIf="activitySummaryChart.resultChartData.valueCardData">
                        <ngx-charts-number-card
                            class="chart-card"
                            [view]="[200,120]"
                            [scheme]="colorScheme"
                            [results]="activitySummaryChart.resultChartData.valueCardData"
                            [animations]="true"
                            [valueFormatting]="valueFormat"
                        ></ngx-charts-number-card>
                    </div>
                    <div class="col-9" style="max-height: 100px" *ngIf="activitySummaryChart.resultChartData.valueData">
                        <ngx-charts-bar-horizontal *ngIf="activitySummaryChart"
                                                   class="horizontal-bar-container"
                                                   [scheme]="colorScheme"
                                                   [results]="activitySummaryChart.resultChartData.valueData"
                                                   [gradient]="gradient"
                                                   [xAxis]="showXAxis"
                                                   [yAxis]="showYAxis"
                                                   [legend]="false"
                                                   [legendPosition]="'right'"
                                                   [showXAxisLabel]="false"
                                                   [showYAxisLabel]="false"
                                                   [showDataLabel]="true"
                                                   [xAxisLabel]="activitySummaryChart.resultChartData.xAxisLabel"
                                                   [yAxisLabel]="activitySummaryChart.resultChartData.yAxisLabel"
                        >
                        </ngx-charts-bar-horizontal>
                    </div>
                </ng-container>
            </div>
            <div class="row chart-container">
                <ng-container>
                    <div class="col-3" *ngIf="activitySummaryChart.resultChartData.compareValueCardData">
                        <ngx-charts-number-card
                            class="chart-card"
                            [view]="[200,120]"
                            [scheme]="colorScheme"
                            [results]="activitySummaryChart.resultChartData.compareValueCardData"
                            [animations]="true"
                            [valueFormatting]="valueFormat"
                        ></ngx-charts-number-card>
                    </div>
                    <div class="col-9" style="max-height: 100px"
                         *ngIf="activitySummaryChart.resultChartData.compareValueData">
                        <ngx-charts-bar-horizontal *ngIf="activitySummaryChart"
                                                   [scheme]="colorScheme"
                                                   [results]="activitySummaryChart.resultChartData.compareValueData"
                                                   [gradient]="gradient"
                                                   [xAxis]="showXAxis"
                                                   [yAxis]="showYAxis"
                                                   [legend]="false"
                                                   [legendPosition]="'right'"
                                                   [showXAxisLabel]="false"
                                                   [showYAxisLabel]="false"
                                                   [showDataLabel]="true"
                                                   [xAxisLabel]="activitySummaryChart.resultChartData.xAxisLabel"
                                                   [yAxisLabel]="activitySummaryChart.resultChartData.yAxisLabel"
                        >
                        </ngx-charts-bar-horizontal>
                    </div>
                </ng-container>
            </div>

            <div class="row chart-container">
                <ng-container>
                    <div class="col-3" *ngIf="activitySummaryChart.resultChartData.splitsValueCardData">
                        <ngx-charts-number-card
                            class="chart-card"
                            [view]="[200,120]"
                            [scheme]="colorScheme"
                            [results]="activitySummaryChart.resultChartData.splitsValueCardData"
                            [animations]="true"
                            [valueFormatting]="valueFormat"
                        ></ngx-charts-number-card>
                    </div>
                    <div class="col-9" *ngIf="activitySummaryChart.resultChartData.splitsValueData">
                        <ngx-charts-bar-horizontal-stacked
                            [scheme]="colorScheme"
                            [results]="activitySummaryChart.resultChartData.splitsValueData"
                            [gradient]="gradient"
                            [xAxis]="showXAxis"
                            [yAxis]="showYAxis"
                            [legend]="false">
                        </ngx-charts-bar-horizontal-stacked>
                    </div>
                </ng-container>
            </div>
            <div class="row chart-container">
                <ng-container>
                    <div class="col-3" *ngIf="activitySummaryChart.resultChartData.splitsCompareValueData">
                        <ngx-charts-number-card
                            class="chart-card"
                            [view]="[200,120]"
                            [scheme]="colorScheme"
                            [results]="activitySummaryChart.resultChartData.splitsCompareValueCardData"
                            [animations]="true"
                            [valueFormatting]="valueFormat"
                        ></ngx-charts-number-card>
                    </div>
                    <div class="col-9" *ngIf="activitySummaryChart.resultChartData.splitsCompareValueData">
                        <ngx-charts-bar-horizontal-stacked
                            [scheme]="colorScheme"
                            [results]="activitySummaryChart.resultChartData.splitsCompareValueData"
                            [gradient]="gradient"
                            [xAxis]="showXAxis"
                            [yAxis]="showYAxis"
                            [legend]="false">
                        </ngx-charts-bar-horizontal-stacked>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>

    <ng-container *ngFor="let activitySummary of workoutSummary.activitySummaries">
        <div class="row">
            <div class="col-12">
                <app-athlete-activity-summary [activitySummary]="activitySummary"></app-athlete-activity-summary>
            </div>
        </div>
    </ng-container>
</div>
