<div class="technologies">
  <!-- Block Title -->
  <div class="element-title">
    <div class="row">
      <div class="container">
        <div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
          <h1><span>Technologie</span></h1>
        </div>
        <br>
        <!--                    <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Our Awesome Portfolio</h1>-->
        <h2 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="300ms">
          Používáme nejmodernější technologie pro měření rychlosti, reakce a síly, které používají týmy z
          nejlepších soutěží světa.
        </h2>
        <h2 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
          Přesnost měření je rozhodující při poskytování dat sportovcům, kterým mohou důvěřovat.
          Měřící brány používají algoritmus zpracování chyb, aby eliminovaly chyby způsobené protnutím bran končetinami,
          které ovlivňují přesnost výsledků.
        </h2>
        <h2 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="300ms">
          Pro sběr, analýzu a prezentaci dat jsme vyvinuli vlastní software, který pomůže sportovcům ke
          zvyšování jejich výkonnosti.
        </h2>
      </div>
    </div>
  </div>
  <div id="works-single-wrap">
    <div id="works-single">
    </div>
  </div>
  <!-- End Single Project -->
</div>

<!-- Partners -->
<div class="partners parallax">
  <div class="overlay">
    <div class="wrapper-block-partners">
      <!-- Block Title -->
      <div class="element-title">
        <div class="row">
          <div class="container">
            <h1 class="accent wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
              Technologii měření používají v nejlepších ligách na světě</h1>
          </div>
        </div>
      </div>
      <!-- End Block Title -->
      <div class="row">
        <div class="container">
          <div class="wrapper-partners">
            <div class="wrapper-why-us">
              <div class="row">
                <div class="col-lg-4 col-sm-4 wow fadeInLeft" data-wow-duration="1s"
                     data-wow-delay="300ms" style="text-align: center; justify-content: center; align-items: center">
                  <div class="used-by">
                    <img src="assets/images/logos/national_basketball_association_small.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4 wow fadeInLeft" data-wow-duration="1s"
                     data-wow-delay="300ms">
                  <div class="used-by">
                    <img src="assets/images/logos/national-hockey-league.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4 wow fadeInLeft" data-wow-duration="1s"
                     data-wow-delay="300ms">
                  <div class="used-by">
                    <img src="assets/images/logos/national-football-league.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4 wow fadeInRight" data-wow-duration="1s"
                     data-wow-delay="300ms">
                  <i class="used-by">
                    <img src="assets/images/logos/Bundesliga-150x150.png" alt="">
                  </i>
                </div>
                <div class="col-lg-4 col-sm-4 wow fadeInRight" data-wow-duration="1s"
                     data-wow-delay="300ms">
                  <i class="used-by">
                    <img src="assets/images/logos/LaLiga-Logo-150x150.png" alt="">
                  </i>
                </div>
                <div class="col-lg-4 col-sm-4 wow fadeInRight" data-wow-duration="1s"
                     data-wow-delay="300ms">
                  <i class="used-by">
                    <img src="assets/images/logos/EPL-New-Logo-150x150.png" alt="">
                  </i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Partners -->
