<div>
    <h2 id="page-heading">
        <span jhiTranslate="sportiqApp.athlete.home.title">Athletes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-athlete" [routerLink]="['/athlete/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sportiqApp.athlete.home.createLabel">
            Create a new Athlete
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="athletes?.length === 0">
        <span jhiTranslate="sportiqApp.athlete.home.notFound">No athletes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="athletes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstName"><span jhiTranslate="sportiqApp.athlete.firstName">First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span jhiTranslate="sportiqApp.athlete.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="sportiqApp.athlete.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phone"><span jhiTranslate="sportiqApp.athlete.phone">Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="birthDate"><span jhiTranslate="sportiqApp.athlete.birthDate">Birth Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nationality"><span jhiTranslate="sportiqApp.athlete.nationality">Nationality</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sex"><span jhiTranslate="sportiqApp.athlete.sex">Sex</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="country"><span jhiTranslate="sportiqApp.athlete.country">Country</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="city"><span jhiTranslate="sportiqApp.athlete.city">City</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="street"><span jhiTranslate="sportiqApp.athlete.street">Street</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="zipCode"><span jhiTranslate="sportiqApp.athlete.zipCode">Zip Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="handLaterality"><span jhiTranslate="sportiqApp.athlete.handLaterality">Hand Laterality</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="footLaterality"><span jhiTranslate="sportiqApp.athlete.footLaterality">Foot Laterality</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="steppingFoot"><span jhiTranslate="sportiqApp.athlete.steppingFoot">Stepping Foot</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="termsAgreement"><span jhiTranslate="sportiqApp.athlete.termsAgreement">Terms Agreement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gdprAgreement"><span jhiTranslate="sportiqApp.athlete.gdprAgreement">Gdpr Agreement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photographyAgreement"><span jhiTranslate="sportiqApp.athlete.photographyAgreement">Photography Agreement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="medicalFitnessAgreement"><span jhiTranslate="sportiqApp.athlete.medicalFitnessAgreement">Medical Fitness Agreement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="marketingAgreement"><span jhiTranslate="sportiqApp.athlete.marketingAgreement">Marketing Agreement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lrFirstName"><span jhiTranslate="sportiqApp.athlete.lrFirstName">Lr First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lrLastName"><span jhiTranslate="sportiqApp.athlete.lrLastName">Lr Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lrEmail"><span jhiTranslate="sportiqApp.athlete.lrEmail">Lr Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lrPhone"><span jhiTranslate="sportiqApp.athlete.lrPhone">Lr Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="profileCompleted"><span jhiTranslate="sportiqApp.athlete.profileCompleted">Profile Completed</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userId"><span jhiTranslate="sportiqApp.athlete.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let athlete of athletes ;trackBy: trackId">
                    <td><a [routerLink]="['/athlete', athlete.id, 'view']">{{ athlete.id }}</a></td>
                    <td>{{ athlete.firstName }}</td>
                    <td>{{ athlete.lastName }}</td>
                    <td>{{ athlete.email }}</td>
                    <td>{{ athlete.phone }}</td>
                    <td>{{ athlete.birthDate | date:'medium' }}</td>
                    <td>{{ athlete.nationality }}</td>
                    <td jhiTranslate="{{ 'sportiqApp.Sex.' + athlete.sex }}">{{ athlete.sex }}</td>
                    <td>{{ athlete.country }}</td>
                    <td>{{ athlete.city }}</td>
                    <td>{{ athlete.street }}</td>
                    <td>{{ athlete.zipCode }}</td>
                    <td jhiTranslate="{{ 'sportiqApp.Laterality.' + athlete.handLaterality }}">{{ athlete.handLaterality }}</td>
                    <td jhiTranslate="{{ 'sportiqApp.Laterality.' + athlete.footLaterality }}">{{ athlete.footLaterality }}</td>
                    <td jhiTranslate="{{ 'sportiqApp.Laterality.' + athlete.steppingFoot }}">{{ athlete.steppingFoot }}</td>
                    <td>{{ athlete.termsAgreement }}</td>
                    <td>{{ athlete.gdprAgreement }}</td>
                    <td>{{ athlete.photographyAgreement }}</td>
                    <td>{{ athlete.medicalFitnessAgreement }}</td>
                    <td>{{ athlete.marketingAgreement }}</td>
                    <td>{{ athlete.lrFirstName }}</td>
                    <td>{{ athlete.lrLastName }}</td>
                    <td>{{ athlete.lrEmail }}</td>
                    <td>{{ athlete.lrPhone }}</td>
                    <td>{{ athlete.profileCompleted }}</td>
                    <td>
                        {{ athlete.userId }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/athlete', athlete.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/athlete', athlete.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(athlete)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="athletes?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
