<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="athlete">
            <h2><span jhiTranslate="sportiqApp.athlete.detail.title">Athlete</span> {{ athlete.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sportiqApp.athlete.firstName">First Name</span></dt>
                <dd>
                    <span>{{ athlete.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ athlete.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.email">Email</span></dt>
                <dd>
                    <span>{{ athlete.email }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.phone">Phone</span></dt>
                <dd>
                    <span>{{ athlete.phone }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.birthDate">Birth Date</span></dt>
                <dd>
                    <span>{{ athlete.birthDate }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.nationality">Nationality</span></dt>
                <dd>
                    <span>{{ athlete.nationality }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.sex">Sex</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'sportiqApp.Sex.' + athlete.sex }}">{{ athlete.sex }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.country">Country</span></dt>
                <dd>
                    <span>{{ athlete.country }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.city">City</span></dt>
                <dd>
                    <span>{{ athlete.city }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.street">Street</span></dt>
                <dd>
                    <span>{{ athlete.street }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.zipCode">Zip Code</span></dt>
                <dd>
                    <span>{{ athlete.zipCode }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.handLaterality">Hand Laterality</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'sportiqApp.Laterality.' + athlete.handLaterality }}">{{ athlete.handLaterality }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.footLaterality">Foot Laterality</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'sportiqApp.Laterality.' + athlete.footLaterality }}">{{ athlete.footLaterality }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.steppingFoot">Stepping Foot</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'sportiqApp.Laterality.' + athlete.steppingFoot }}">{{ athlete.steppingFoot }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.termsAgreement">Terms Agreement</span></dt>
                <dd>
                    <span>{{ athlete.termsAgreement }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.gdprAgreement">Gdpr Agreement</span></dt>
                <dd>
                    <span>{{ athlete.gdprAgreement }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.photographyAgreement">Photography Agreement</span></dt>
                <dd>
                    <span>{{ athlete.photographyAgreement }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.medicalFitnessAgreement">Medical Fitness Agreement</span></dt>
                <dd>
                    <span>{{ athlete.medicalFitnessAgreement }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.marketingAgreement">Marketing Agreement</span></dt>
                <dd>
                    <span>{{ athlete.marketingAgreement }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.lrFirstName">Lr First Name</span></dt>
                <dd>
                    <span>{{ athlete.lrFirstName }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.lrLastName">Lr Last Name</span></dt>
                <dd>
                    <span>{{ athlete.lrLastName }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.lrEmail">Lr Email</span></dt>
                <dd>
                    <span>{{ athlete.lrEmail }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.lrPhone">Lr Phone</span></dt>
                <dd>
                    <span>{{ athlete.lrPhone }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.profileCompleted">Profile Completed</span></dt>
                <dd>
                    <span>{{ athlete.profileCompleted }}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.user">User</span></dt>
                <dd>
                    {{ athlete.userId }}
                </dd>
                <dt><span jhiTranslate="sportiqApp.athlete.sports">Sports</span></dt>
                <dd>
                    <span *ngFor="let sports of athlete.sports; let last = last">
                        <a [routerLink]="['/sport', sports?.id, 'view']">{{ sports.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/athlete', athlete.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
