<div class="activity-edit-container">
  <form class="form" *ngIf="activityForm" [formGroup]="activityForm" (submit)="saveActivity()">

    <lr-input-field [controlName]="'name'" [parentForm]="activityForm" [label]="'Název' | translate" [errorsMap]="controlsErrorsMaps.get('name')"></lr-input-field>
    <lr-input-field [type]="'textarea'" [controlName]="'description'" [parentForm]="activityForm" [label]="'Popis' | translate" [errorsMap]="controlsErrorsMaps.get('description')"></lr-input-field>
    <lr-input-field [type]="'textarea'" [controlName]="'help'" [parentForm]="activityForm" [label]="'Nápověda' | translate" [errorsMap]="controlsErrorsMaps.get('help')"></lr-input-field>
    <lr-input-field [controlName]="'key'" [parentForm]="activityForm" [label]="'Klíč' | translate" [errorsMap]="controlsErrorsMaps.get('key')"></lr-input-field>

    <lr-select [controlName]="'primaryResultValueUnit'" [parentForm]="activityForm" [label]="'Jednotky hlavního výsledku'" [options]="unitsOptions" [valueField]="'value'" [labelField]="'label'"></lr-select>
    <lr-select [controlName]="'primaryResultType'" [parentForm]="activityForm" [label]="'Typ hlavního výsledku'" [options]="resultTypesOptions" [valueField]="'value'" [labelField]="'label'"></lr-select>

    <lr-select [controlName]="'secondaryResultValueUnit'" [parentForm]="activityForm" [label]="'Jednotky vedlejšího výsledku'" [options]="unitsOptions" [valueField]="'value'" [labelField]="'label'"></lr-select>
    <lr-select [controlName]="'secondaryResultType'" [parentForm]="activityForm" [label]="'Typ vedlejšího výsledku'" [options]="resultTypesOptions" [valueField]="'value'" [labelField]="'label'"></lr-select>

    <lr-input-field [controlName]="'minAge'" [parentForm]="activityForm" [label]="'Minimální věk' | translate" [errorsMap]="controlsErrorsMaps.get('minAge')"></lr-input-field>
    <lr-input-field [controlName]="'maxAge'" [parentForm]="activityForm" [label]="'Maximální věk' | translate" [errorsMap]="controlsErrorsMaps.get('maxAge')"></lr-input-field>


   <lr-autocomplete [placeholder]="'Napiš kategorii' | translate"
                    [label]="'Kategorie' | translate"
                    [items]="activityCategories"
                    [searchField]="'name'"
                    (selectedItemsChanged)="selectedCategoriesChanged($event)">

   </lr-autocomplete>
    <button mat-raised-button>{{'Uložit' | translate}}</button>

  </form>
</div>
