<h2 class="text-center" *ngIf="workoutSummary.workout">{{workoutSummary.workout.name}}</h2>
<div *ngIf="workoutSummary.athleteWorkout.note" class="card">
    <div class="ui-g">
        <ng-container *ngIf="workoutSummary.athleteWorkout.note">
            <div class="ui-g-12 ui-md-4">
                <label>{{'Poznámka' | translate}}</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <span>{{workoutSummary.athleteWorkout.note}}</span>
            </div>
        </ng-container>
    </div>
</div>
<ng-container *ngFor="let activitySummary of workoutSummary.activitySummaries">
    <app-athlete-activity-summary [activitySummary]="activitySummary"></app-athlete-activity-summary>
</ng-container>
