<div class="slide-wrap">
    <ngb-carousel #aboutCarousel id="about-carousel">
        <ng-template ngbSlide>
            <div class="slide-basketball full-height">
                <div class="overlay">
                    <div class="why-us">
                        <div class="container">
                            <div class="section-title" data-wow-duration="1s" data-wow-delay="300ms">
                                <h1><span>{{'about.what-is-sportiq.title' | translate}}</span></h1>
                            </div>
                            <ul class="siq-list">
                                <li class="siq-list-item"
                                    [innerHTML]="'about.what-is-sportiq.point-1' | translate"></li>
                                <li class="siq-list-item"
                                    [innerHTML]="'about.what-is-sportiq.point-2' | translate"></li>
                                <li class="siq-list-item"
                                    [innerHTML]="'about.what-is-sportiq.point-3' | translate"></li>
                                <li class="siq-list-item"
                                    [innerHTML]="'about.what-is-sportiq.point-4' | translate"></li>
                                <li class="siq-list-item"
                                    [innerHTML]="'about.what-is-sportiq.point-5' | translate"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="slide-football full-height"> <!-- Change Image -->
                <div class="overlay">
                    <div class="why-us">
                        <div class="container">
                            <div class="section-title" data-wow-duration="1s" data-wow-delay="300ms">
                                <h1><span>{{'about.why-test.title' | translate}}</span></h1>
                            </div>
                            <ul class="siq-list">
                                <li class="siq-list-item" [innerHTML]="'about.why-test.point-1' | translate"></li>
                                <li class="siq-list-item" [innerHTML]="'about.why-test.point-2' | translate"></li>
                                <li class="siq-list-item" [innerHTML]="'about.why-test.point-3' | translate"></li>
                                <li class="siq-list-item" [innerHTML]="'about.why-test.point-4' | translate"></li>
                                <li class="siq-list-item" [innerHTML]="'about.why-test.point-5' | translate"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="slide-basketball full-height"> <!-- Change Image -->
                <!--                        <div class="caption">-->
                <!--                            <h1 class="animated fadeInLeftBig">Jaká je tvá pohybová <strong>inteligence</strong>?</h1>-->
                <!--                            <p class="animated fadeInRightBig"></p>-->
                <!--                            <a data-scroll class="learn-more animated fadeInUpBig" href="#aboutSportIQ">Zjisti víc</a>-->
                <!--                        </div>-->

                <div class="overlay">
                    <div class="why-us">
                        <div class="container">
                            <div class="section-title" data-wow-duration="1s" data-wow-delay="300ms">
                                <h1><span>{{'about.whom.title' | translate}}</span></h1>
                            </div>
                            <ul class="siq-list">
                                <li class="siq-list-item" [innerHTML]="'about.whom.point-1' | translate"></li>
                                <li class="siq-list-item" [innerHTML]="'about.whom.point-2' | translate"></li>
                                <li class="siq-list-item" [innerHTML]="'about.whom.point-3' | translate"></li>
                                <li class="siq-list-item" [innerHTML]="'about.whom.point-4' | translate"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="slide-hockey full-height"> <!-- Change Image -->
                <div class="overlay">
                    <div class="why-us">
                        <div class="container">
                            <div class="section-title" data-wow-duration="1s" data-wow-delay="300ms">
                                <h1><span>{{'about.how.title' | translate}}</span></h1>
                            </div>
                            <ul class="siq-list">
                                <li class="siq-list-item" [innerHTML]="'about.how.point-1' | translate"></li>
                                <li class="siq-list-item" [innerHTML]="'about.how.point-2' | translate"></li>
                                <li class="siq-list-item" [innerHTML]="'about.how.point-3' | translate"></li>
                                <li class="siq-list-item" [innerHTML]="'about.how.point-4' | translate"></li>
                                <li class="siq-list-item" [innerHTML]="'about.how.point-5' | translate"></li>
                                <li class="siq-list-item" [innerHTML]="'about.how.point-6' | translate"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
