@import "src/assets/sass/variables";

/* Footer */
.bottom-footer {
  border-top: 7px solid $cyan;
}

.bottom-footer-left p a {
  color: $cyan;
}

.bottom-social-icons li a i{
  background-color: $cyan;
  border: 1px solid $cyan;
}

.bottom-social-icons li a i:hover{
  color: $cyan;
}

.bottom-footer {
  /*    background: none repeat scroll 0 0 #fff;*/
  background: none repeat scroll 0 0 #333333;
}

.bottom-footer-left p span {
  font-size: 14px;
}

.bottom-footer-left p a {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.bottom-footer-left p a:hover {
  color: #fff;
}

.bottom-footer-left p {
  color: #fff;
}

.bottom-social-icons li a i {
  color: #fff;
  font-size: 22px;
  border-radius: 6px;
  display: block;
  height: 45px;
  width: 45px;
  padding-top: 12px;
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.bottom-social-icons li a i:hover {
  background-color: transparent;
}

.bottom-footer {
  padding: 40px 0 20px;
}

.bottom-social-icons li {
  display: inline-block;
  margin: 10px 6px;
}

.bottom-social-icons {
  width: 100%;
  padding-inline-start: 0px;
}

/* End Footer */
