<div class="ui-g" *ngIf="workoutForm">
    <div class="ui-g-12">
        <div class="card">
            <h1>{{workout?.name ? workout.name : 'Nový test' | translate}}</h1>
            <div class="ui-g">
                <div class="ui-g-6 ui-md-6 ui-sm-12">
                    <p-panel [header]="'Základní údaje' | translate">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <form class="form-group" *ngIf="workoutForm" [formGroup]="workoutForm"
                                      (submit)="saveWorkout()">
                                    <div class="ui-g-12 ui-md-4">
                                        <label for="workout-name">{{'Název' | translate}}</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8">
                                        <input id="workout-name" class="w-100" type="text" pInputText
                                               formControlName="name"
                                               required/>
                                    </div>

                                    <div class="ui-g-12 ui-md-4">
                                        <label for="workout-description">{{'Popis' | translate}}</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8">
                                        <textarea id="workout-description"
                                                  class="w-100"
                                                  [rows]="3"
                                                  [cols]="30"
                                                  formControlName="description"
                                                  pInputTextarea
                                                  autoResize="autoResize"></textarea>
                                    </div>

<!--                                    <div class="ui-g-12 ui-md-4">-->
<!--                                        <label for="workout-activities">{{'Activity' | translate}}</label>-->
<!--                                    </div>-->
<!--                                    <div class="ui-g-12 ui-md-8">-->
<!--                                        <p-multiSelect class='w-100'-->
<!--                                                       id="workout-activities"-->
<!--                                                       [defaultLabel]="'Vyber aktivity' | translate"-->
<!--                                                       [styleClass]="'w-100'"-->
<!--                                                       [options]="allActivities"-->
<!--                                                       [(ngModel)]="workout.activities"-->
<!--                                                       [ngModelOptions]="{standalone: true}"-->
<!--                                                       optionLabel="name"-->
<!--                                        ></p-multiSelect>-->
<!--                                    </div>-->
                                </form>
                            </div>
                        </div>
                    </p-panel>
                </div>

                <div class="ui-g-12 ui-md-12">
                    <p-panel [header]="'Aktivity'" >
                        <p-pickList [source]="suggestedActivities"
                                    [target]="workout.activities"
                                    [styleClass]="'activities-picklist'"
                                    [dragdrop]="true"
                                    [showSourceFilter]="true"
                                    [showTargetFilter]="true"
                                    [filterBy]="'name,description'">
                            <ng-template let-activity pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    <div class="picklist-item-container">
                                        <div class="picklist-item-name">{{activity.name}}</div>
                                        <div class="picklist-item-description">{{activity.description}}</div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-pickList>
                    </p-panel>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <button pButton type="button" class="cyan-btn"
                            [label]="!workout?.id ? ('Vytvořit test' | translate) : ('Ulož test' | translate)"
                            (click)="saveWorkout()">
                    </button>
                </div>
            </div>
        </div>
    </div>
