<div class="component-container-center">
  <!--<button mat-raised-button (click)="addCategory()">{{'Přidat kategorii' | translate}}</button>-->
  <p-treeTable class="table-top-margin" *ngIf="categoriesNodes" [value]="categoriesNodes">
    <ng-template pTemplate="header">
      <tr>
        <th>Název</th>
        <th>Popis</th>
        <th class="table-action-column"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr>
        <td>
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          {{rowData.name}}
        </td>
        <td>{{rowData.description}}</td>
        <td class="table-action-column">
          <button pButton type="button" icon="pi pi-times" (click)="delete($event, rowData)" class="ui-button-danger"></button>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
