<app-loader></app-loader>
<header>
  <app-menu [nextEvents]="nextEvents"></app-menu>
</header>
<app-home id="home"></app-home>
<app-about id="aboutSportIQ"></app-about>
<app-events *ngIf="nextEvents && nextEvents.length > 0" id="events" [nextEvents]="nextEvents"></app-events>
<app-tests id="tests" class="section"></app-tests>
<app-skills></app-skills>
<app-technologies id="technology" class="section"></app-technologies>
<app-contacts id="contacts" class="section"></app-contacts>
<app-footer></app-footer>

<!-- Scroll to Top  -->
<a href="#" class="scroll-up"><i class="fa fa-arrow-up"></i></a>
<!-- End Scroll To Top  -->
