<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>{{'Události' | translate}}</h1>
            <div class="btn-panel">
                <button pButton type="button" class="cyan-btn" [label]="'Vytvořit událost' | translate"
                        [routerLink]="['/events/create']"></button>
            </div>
            <p-table [value]="events">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of tableCols">
                            {{col.header}}
                        </th>
                        <th class="table-action-column"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr class="pointer" [routerLink]="['/events/edit', item.id]">
                        <td *ngFor="let col of tableCols">
                            {{col.map ? col.map(item, col) : item[col.field]}}
                        </td>
                        <td class="table-action-column">
                            <button class="ui-button-danger" type="button" icon="fa fa-trash" pButton (click)="delete($event, item)"></button>
                            <button class="ui-button-primary" type="button" icon="fa fa-file-text-o" pButton [routerLink]="['/events/results', item.id]"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
