<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="activity">
            <h2><span>Activity</span> {{ activity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ activity.name }}</span>
                </dd>
                <dt><span>Is Public</span></dt>
                <dd>
                    <span>{{ activity.isPublic }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ activity.description }}</span>
                </dd>
                <dt><span>Help</span></dt>
                <dd>
                    <span>{{ activity.help }}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    {{ activity.createdBy?.login }}
                </dd>
                <dt><span>Visible For Organisations</span></dt>
                <dd>
                    <span *ngFor="let visibleForOrganisations of activity.visibleForOrganisations; let last = last">
                        <a [routerLink]="['/organisation', visibleForOrganisations?.id, 'view']">{{ visibleForOrganisations.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span>Visible For Groups</span></dt>
                <dd>
                    <span *ngFor="let visibleForGroups of activity.visibleForGroups; let last = last">
                        <a [routerLink]="['/group', visibleForGroups?.id, 'view']">{{ visibleForGroups.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/activity', activity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
