.result-value {
    font-size: 18px;
    font-weight: bold;
}

.delimiter-row {
    background-color: transparent;

    td {

    }

    td .cell {
        min-height: 50px;
    }
}

.chart-container {
    height: 200px;
    max-height: 200px;
}

.athlete-activity-result-summary {
   overflow: hidden;
}
