<div>
    <h2 id="page-heading">
        <span jhiTranslate="sportiqApp.athleteEvent.home.title">Athlete Events</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-athlete-event" [routerLink]="['/athlete-event/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sportiqApp.athleteEvent.home.createLabel">
            Create a new Athlete Event
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="athleteEvents?.length === 0">
        <span jhiTranslate="sportiqApp.athleteEvent.home.notFound">No athleteEvents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="athleteEvents?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="note"><span jhiTranslate="sportiqApp.athleteEvent.note">Note</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="actualHeightInCm"><span jhiTranslate="sportiqApp.athleteEvent.actualHeightInCm">Actual Height In Cm</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="actualWeightInKg"><span jhiTranslate="sportiqApp.athleteEvent.actualWeightInKg">Actual Weight In Kg</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="medicalFitnessAgreement"><span jhiTranslate="sportiqApp.athleteEvent.medicalFitnessAgreement">Medical Fitness Agreement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="registrationDate"><span jhiTranslate="sportiqApp.athleteEvent.registrationDate">Registration Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="athleteId"><span jhiTranslate="sportiqApp.athleteEvent.athlete">Athlete</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="eventId"><span jhiTranslate="sportiqApp.athleteEvent.event">Event</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let athleteEvent of athleteEvents ;trackBy: trackId">
                    <td><a [routerLink]="['/athlete-event', athleteEvent.id, 'view']">{{ athleteEvent.id }}</a></td>
                    <td>{{ athleteEvent.note }}</td>
                    <td>{{ athleteEvent.actualHeightInCm }}</td>
                    <td>{{ athleteEvent.actualWeightInKg }}</td>
                    <td>{{ athleteEvent.medicalFitnessAgreement }}</td>
                    <td>{{ athleteEvent.registrationDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="athleteEvent.athleteId">
                            <a [routerLink]="['/athlete', athleteEvent.athleteId , 'view']" >{{ athleteEvent.athleteId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="athleteEvent.eventId">
                            <a [routerLink]="['/event', athleteEvent.eventId , 'view']" >{{ athleteEvent.eventId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/athlete-event', athleteEvent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/athlete-event', athleteEvent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(athleteEvent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="athleteEvents?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
