<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-athlete-heading" jhiTranslate="sportiqApp.athlete.home.createOrEditLabel">Create or edit a Athlete</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!athlete.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="athlete.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportiqApp.athlete.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                        [(ngModel)]="athlete.firstName" required/>
                    <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.firstName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportiqApp.athlete.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="athlete.lastName" required/>
                    <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lastName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportiqApp.athlete.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="athlete.email" required/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportiqApp.athlete.birthDate" for="field_birthDate">Birth Date</label>
                    <div class="d-flex">
                        <input id="field_birthDate" type="datetime-local" class="form-control" name="birthDate" [(ngModel)]="birthDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportiqApp.athlete.nationality" for="field_nationality">Nationality</label>
                    <input type="text" class="form-control" name="nationality" id="field_nationality"
                        [(ngModel)]="athlete.nationality" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportiqApp.athlete.sex" for="field_sex">Sex</label>
                    <select class="form-control" name="sex" [(ngModel)]="athlete.sex" id="field_sex" >
                        <option value="MALE">{{'sportiqApp.Sex.MALE' | translate}}</option>
                        <option value="FEMALE">{{'sportiqApp.Sex.FEMALE' | translate}}</option>
                        <option value="OTHER">{{'sportiqApp.Sex.OTHER' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sportiqApp.athlete.address" for="field_address">Address</label>
                    <select class="form-control" id="field_address" name="address" [(ngModel)]="athlete.addressId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="addressOption.id" *ngFor="let addressOption of addresses; trackBy: trackAddressById">{{addressOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
