<div class="section-container tests-section">
  <!-- Block Title -->
  <div class="element-title">
    <div class="row">
      <div class="container">
        <div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
          <h1><span>{{'tests.title' | translate}}</span></h1>
        </div>
        <br>
        <div>
          <ngb-tabset [justify]="'justified'">
            <ngb-tab *ngFor="let testDetail of testDetails" [title]="(testDetail.name | translate)">
              <ng-template ngbTabContent>
                  <app-test-detail [testDetail]="testDetail"></app-test-detail>
              </ng-template>
            </ngb-tab>

          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
