@import "src/app/dashboard/pages/admin/events/results/events-results.component";

.activities-picklist {
    min-height: 300px;
}

.picklist-item-container {
    padding: 5px;
    display: flex;
    flex-direction: column;

    .picklist-item-name {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .picklist-item-description {

    }
}
