<div class="topbar clearfix">

    <div class="d-flex">
        <a id="menu-button" href="#" (click)="app.onMenuButtonClick($event)">
            <i class="fa fa-align-left"></i>
        </a>

        <div class="logo-container" [routerLink]="['/']">
            <div class="logo">Sport<span class="primary">iq</span></div>
        </div>
    </div>
    <div class="flex-fill"></div>

    <div class="d-flex flex-row-reverse">
        <ng-container *ngIf="isLoggeedIn">
            <div class="profile" (click)="app.onTopbarMenuButtonClick($event)">
                <span class="username">{{currentUser.firstName + ' ' + currentUser.lastName}}</span>
<!--                <img src="assets/layout/images/avatar/avatar.png" alt="apollo-layout"/>-->
                <ngx-avatar class="avatar" [bgColor]="'#26C6DA'" [size]="40" [gravatarId]="currentUser.email" [name]="currentUser.firstName + ' ' + currentUser.lastName"></ngx-avatar>
            </div>
        </ng-container>

        <div *ngIf="!isLoggeedIn" class="d-flex align-items-center">
            <a class="profile pointer" (click)="login()"><span class="username">{{'Přihlásit' | translate}}</span></a>
        </div>

<!--        <span class="topbar-search"><input type="text" pInputText placeholder="Search"/><span class="fa fa-search"></span></span>-->

<!--        <span class="topbar-themeswitcher">-->
<!--            <p-inputSwitch [(ngModel)]="app.darkTheme" (onChange)="themeChange($event)"></p-inputSwitch>-->
<!--        </span>-->
    </div>
    <ul class="topbar-menu fadeInDown" [ngClass]="{'topbar-menu-visible': app.topbarMenuActive}">
        <li #profile [ngClass]="{'menuitem-active':app.activeTopbarItem === profile}">
            <a href="#" (click)="app.onTopbarItemClick($event, profile)">
                <i class="topbar-icon fa fa-fw fa-user"></i>
                <span class="topbar-item-name">Profile</span>
            </a>
        </li>
        <li #settings [ngClass]="{'menuitem-active':app.activeTopbarItem === settings}">
            <a href="#" (click)="app.onTopbarItemClick($event, settings)">
                <i class="topbar-icon fa fa-fw fa-cog"></i>
                <span class="topbar-item-name">Settings</span>
            </a>
        </li>
        <li role="menuitem">
            <a href="#" (click)="app.onTopbarSubItemClick($event)">
                <i class="fa fa-fw fa-sign-out"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>
