/* Add your customizations of layout here */

body {
    .layout-wrapper {
        .topbar {
            background-color: black;
            display: flex;

            #menu-button {
                margin-left: 0;
            }

            .topbar-search input {
                background: black;
            }
        }
    }
}
