<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="workoutCategory">
            <h2><span jhiTranslate="sportiqApp.workoutCategory.detail.title">Workout Category</span> {{workoutCategory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sportiqApp.workoutCategory.name">Name</span></dt>
                <dd>
                    <span>{{workoutCategory.name}}</span>
                </dd>
                <dt><span jhiTranslate="sportiqApp.workoutCategory.description">Description</span></dt>
                <dd>
                    <span>{{workoutCategory.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/workout-category', workoutCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
