.skill-slider-item {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.9);
}

.wrapper-count {
  margin-top: 60px;
}

.number {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
}

.number-title {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

.number p:first-letter {
  color: #00cfef;
}
