<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userActivity">
            <h2><span>User Activity</span> {{ userActivity.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Note</span></dt>
                <dd>
                    <span>{{ userActivity.note }}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ userActivity.date }}</span>
                </dd>
                <dt><span>Activity</span></dt>
                <dd>
                    <div *ngIf="userActivity.activity">
                        <a [routerLink]="['/activity', userActivity.activity?.id, 'view']">{{ userActivity.activity?.name }}</a>
                    </div>
                </dd>
                <dt><span>User Event</span></dt>
                <dd>
                    <div *ngIf="userActivity.userEvent">
                        <a [routerLink]="['/user-event', userActivity.userEvent?.id, 'view']">{{ userActivity.userEvent?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-activity', userActivity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
