<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agreement">
            <h2><span>Agreement</span> {{ agreement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Terms Agreement</span></dt>
                <dd>
                    <span>{{ agreement.termsAgreement }}</span>
                </dd>
                <dt><span>Gdpr Agreement</span></dt>
                <dd>
                    <span>{{ agreement.gdprAgreement }}</span>
                </dd>
                <dt><span>Photography Agreement</span></dt>
                <dd>
                    <span>{{ agreement.photographyAgreement }}</span>
                </dd>
                <dt><span>Marketing Agreement</span></dt>
                <dd>
                    <span>{{ agreement.marketingAgreement }}</span>
                </dd>
                <dt><span>Medical Fitness Agreement</span></dt>
                <dd>
                    <span>{{ agreement.medicalFitnessAgreement }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agreement', agreement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
